
#navbar{
	height: 50px;
	background-color: #cc0000;
	padding-top: 20px;
	padding-left: 25px

}

#navbar a{
	margin-left: 20px;
	margin-right: 20px;	
	color: #EFEBEB;
	text-decoration: none;
	font-weight: bold;
}